<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="3.3.1" targetFramework="net461" />
  <package id="Magick.NET-Q8-AnyCPU" version="14.8.1" targetFramework="net461" />
  <package id="Magick.NET.Core" version="14.8.1" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.11-beta-23516" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.1.1-beta-23516" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.1-beta-23516" targetFramework="net461" />
  <package id="System.Runtime" version="4.0.21-beta-23516" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.0.11-beta-23516" targetFramework="net461" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net46" />
</packages>